extends layout

block content
  h1= title
  div key: 
    span#videoKey= videoKey
  div
    div.share-btn
      a.btn-facebook(data-id="fb")  facebook
      a.btn-twitter(data-id="tw")  twitter
      a.btn-mail(data-id="mail")  mail

    video(controls style={width: "100%"})
      source#videoSource(src="" type="video/mp4")

    
  script(src="/javascripts/detail.js")
  script(src="/javascripts/share-buttons.js")