body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.share-btn > a {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 12px;
  font-family: Verdana, Arial;
  margin: 6px;
}
.share-btn > a:hover {
  cursor: pointer;
}